

numpy       # Array-based computing.
scipy       # Scientific computing.
pandas      # Time-series computing.
matplotlib  # Basic plotting.
seaborn     # Extra plotting functions.
sklearn     # Machine Learning.
requests    # Download from the internet.
notebook    # Jupyter Notebook.
ipywidgets  # Interaction for Jupyter Notebook.
pygmo       # Multi-objective optimization.
statsmodels # Statistical modelling.
simfin      # Financial database.
numba       # Numba Jit compiler.
investops   # Investment tools.

################################################################
